<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>faQ</title>
      <link href="styles/style.css" rel="stylesheet" type="text/css">
      <script>
         const arrow = document.querySelector('.arrow-change');
         console.log(arrow)
      </script>
  </head>
  <body>
    <section id="the-area__main-page">
        <div class="area-page">
            <h1>The Area</h1>
            <div class="area-page__location">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.21393 0C2.33899 0 0 2.33899 0 5.21393C0 8.82742 5.21906 15 5.21906 15C5.21906 15 10.4279 8.64972 10.4279 5.21393C10.4279 2.33899 8.08896 0 5.21393 0ZM6.78708 6.74057C6.3533 7.17426 5.78366 7.39114 5.21393 7.39114C4.64429 7.39114 4.07446 7.17426 3.64087 6.74057C2.77341 5.8732 2.77341 4.46182 3.64087 3.59436C4.06091 3.17413 4.61966 2.94269 5.21393 2.94269C5.8082 2.94269 6.36685 3.17422 6.78708 3.59436C7.65454 4.46182 7.65454 5.8732 6.78708 6.74057Z" fill="white"/>
                </svg>
                <p>Vesterborg, Denmark</p>
            </div>
            <button type="button" class="the-area__main-page__button">get directions</button>
        </div>
    </section>
    <section id="the-area__about-part">
        <div class="the-area__about-part__div">
            <img src="../images/vesterborg.png" alt="Luka Bravo" width="547" height="478">
            <div>
                <h3>Vesterborg</h3>
                <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing...</p><br>
                <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. </p>
            </div>
            <div>
                <h3 class="h3-centre">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing...</h3>
            </div>
            <img src="../images/map.png" alt="map" width="343" height="427">
            <h2>Activities</h2><br>
            <img src="../images/restaurants.png" alt="restaurants" width="547" height="478">
            <div>
                <h3>Restaurants & shopping</h3>
                <p><span>Lorem Impus</span><span>Lorem Impus</span></p>
                <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. </p>
            </div>
            <div>
                <h3>Experiences in nature</h3>
                <p><span>Lorem Impus</span><span>Lorem Impus</span></p>
                <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. The cottages are built around <br> all, old trees that go through the entire cottage from floor <br> to ceiling</p>
            </div>
            <img src="../images/nature.png" alt="Blake Richard" width="547" height="478">
            <img src="../images/drive.png" alt="Go for a drive" width="547" height="478">
            <div>
                <h3>Go for a drive</h3>
                <p><span>Lorem Impus</span><span>Lorem Impus</span></p>
                <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. </p>
            </div>
            <div>
                <h3>Small-town charm</h3>
                <p><span>Lorem Impus</span><span>Lorem Impus</span></p>
                <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. The cottages are built around <br> all, old trees that go through the entire cottage from floor <br> to ceiling</p>
            </div>
            <img src="../images/small-town.png" alt="Small town" width="547" height="478">
        </div>
    </section>
    <section id="the-area__map">
        <div></div>
    </section>
  </body>
</html>