<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>faQ</title>
      <link href="styles/style.css" rel="stylesheet" type="text/css">
      <script>
         const arrow = document.querySelector('.arrow-change');
         console.log(arrow)
      </script>
  </head>
  <body>
    <section id="the-hut__main-page">
        <div class="main-page">
            <h1>The Hut</h1>
        </div>
    </section>
    <section id="the-hut__about-part">
    <div class="about-part">
        <img src="../images/otside.png" alt="The Outside" width="546" height="478">
        <div>
            <h3>The Outside</h3>
            <p><span id="hot-tube">Hot tube</span><span id="electric-car-change">Electric car change</span></p><br>
            <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. </p>
        </div>
        <div>
            <h3>The Inside</h3>
            <p><span id="space">Space</span><span id="kitchen">Kitchen</span><span id="bathroom">Bathroom</span></p><br>
            <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and <br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about<br> nine meters above ground. The cottages are built around<br> tall, old trees that go through the entire cottage from floor<br>to ceiling.</p>
        </div>
        <img src="../images/inside.png" alt="The inside" width="546" height="478">
        <img src="../images/chris-ralston-09HGdZzkP-Q-unsplash 1.png" alt="Breakfact" width="546" height="478">
        <div>
            <h3>Practicalities</h3>
            <p><span id="breakfast">Breakfact</span><span id="dinner">Classic Dinner</span></p><br>
            <p>Løvtag’s three exclusive and comfortable cabins, Et, Ro and<br> Ly, are designed by architect Sigurd Larsen. They all have an <br> open space with a double bed, a double sofa bed, kitchen,<br> separate toilet and an outdoor shower. On the roof,<br> surrounded by treetops, there is a terrace, which is about <br> nine meters above ground. </p>
        </div>
    </div>
    </section>
  </body>
</html>